.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.8); /* add opacity to the background color */
  z-index: 1; /* set the z-index higher than the background */
  opacity: .6;
}

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #04AA6D;
    color: white;
  }

  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: 767px) {
    .navbar-brand {
      position: static;
      transform: none;
    }
  }
